<h1 class="center-text">Essential Plan Pricing Simulator</h1>
{{as-you-go-section records=records ops=ops class="small-12 medium-6 cell"}}
{{annual-section records=records ops=ops class="small-12 medium-6 cell"}}
{{slider-section class="cell" recordsIndex=recordsIndex qpsIndex=qpsIndex records=records ops=ops}}
